<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Matza Time</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
          <!-- Google Icon Fonts used by Materialize -->
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <!-- Materialize CSS Framework -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
          <link rel="stylesheet" href="stylesheets/style.css" />
          <!-- JavaScript for Materialize -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      </head>
      <body>
        <div class="navbar-fixed">
          <nav>
            <a href="/matzas">Matza Time</a>
            <ul class="right">
              <li>
                <% if (user) { %>
                  <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                <% } else { %>
                  <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                <% } %>
              </li>
              <li><%= user ? `Logged in as: ${user.name}` : "Not Logged In" %></li>
            </ul>
          </nav>
        </div>