body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 0;
  background-image: url('https://i.imgur.com/tNmbWuN.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  height:500px;
}

a {
  color: rgb(133, 204, 255);
}

nav {
  width: 100%;
  background-color: rgb(133, 204, 255);
}

nav a {
  margin-left: 20px;
}

.right {
  margin-right: 20px;
}

.card {
  border: solid 5px white;
}

button {
  margin: auto;
}

.btn-small{
  background-color: white;
  border: solid 1px rgb(133, 204, 255);
}

.btn-small:hover {
  background-color:rgba(133, 204, 255, 0.2);
}

.whiteBackgound {
  background-color: white;
  padding: 5px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

}

.imageShowPg {
  height: 50vh;
}

.showMatza {
  display: flex;
  flex-direction: row;
}

.showMatza > .imageMatza {
  flex: auto;
}

.contentMatza {
  width: 50%;
  margin: auto;
  margin-right: auto;
  padding-left: 10px;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}
