body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 0;
}

a {
  color: #00B7FF;
}

nav {
  width: 100%;

}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

/* main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
} */


/* .centeringTheCards {
  place-content: center;
} */
  /* display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column;
 }

 .centeringTheCards .row{
   margin: 0 auto;
 } */

 /* .row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
 } */