<!DOCTYPE html>
<html lang="en">
<head>
  <title>Matza Time</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS Framework -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!-- JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>

<div class="whiteBackgound">
  <form id="new-form" action="/matzas" method="POST">
    <label>Title:</label>
    <input type="text" name="title">
    <br>
    <label>Image:</label>
    <input type="text" name="image" />
    <br>
    <label>Ingredients:</label>
    <input type="text" name="ingredients">
    <br>
    <label>Instructions:</label>
    <input type="text" name="instructions">
    <input type="submit" value="Add Post">
  </form>
</div>  

 <%- include('../partials/footer') %>