<%- include('../partials/header') %>

<div class="whiteBackgound">
  <form id="new-form" action="/matzas" method="POST">
    <label>Title:</label>
    <input type="text" name="title">
    <br>
    <label>Image:</label>
    <input type="text" name="image" />
    <br>
    <label>Ingredients:</label>
    <input type="text" name="ingredients">
    <br>
    <label>Instructions:</label>
    <input type="text" name="instructions">
    <input type="submit" value="Add Post">
  </form>
</div>  

 <%- include('../partials/footer') %>