<section>
    <div>Title: </div>
    <div><%= matza.title %></div>
    <div>Ingredients: </div>
    <div><%= matza.ingredients %></div>
    <div>Instructions: </div>
    <div><%= matza.instructions %></div>

</section>


